body {
    background-color: #5398ffd0;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.title {
    color: #2c79ff;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #4bb7fe;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #4bb7fe;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4b8dfe;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #4bb7fe;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #665f5f;
}

.motivation {
    margin-top: 20px;
    font-style: italic;
    color: #4bb7fe;
}